
*{
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    
}

body{

font-weight: 100;
font-size: 15px;
font-family: 'Public Sans', sans-serif;


}

.container{
    font-size: smaller;
    font-weight: 10px;
    padding: 20px;


}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15px;
   
}

li{
    list-style: none;
}


.links{
    
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 15px;
    align-items: center;
    color:hsl(233, 8%, 62%);
}



img{
    width: 139;
    height: 20;
}

.request{
   
    border-radius: 20px;
    width: 120px;
    background: linear-gradient(93deg,#00ffcf 0%, #95ec95 80%);
    padding: 5px 8px;
    margin-left: 90px;
    padding-right: 2px;
    color: white;
   
}


.container2{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: hsl(0, 0%, 98%);
    
   
}

.container2 p{
    color:hsl(233, 8%, 62%);
}

.box{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
  
   
}

.box1{
   
  width: 350px;
  height: 30px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: normal;
  padding-right: 100px;
 
}


  
.box1 li{
    border-radius: 20px;
    width: 120px;
    background: linear-gradient(93deg,#00ffcf 0%, #95ec95 80%);
    padding: 5px 8px;

}
   
.box2 img{
    height: 500px;
    padding-left: 100px;
    padding-bottom: 70px;
    padding-right: 80px;


   
}
.box2{
    background-image: url(bg-intro-desktop.svg);
   background-size: 100%;
   background-repeat: no-repeat;
   height: 300px;

}

.about{
   font-weight: 300;
   padding: 20px;
   padding-top: 80px;
   background-color:  hsl(220, 16%, 96%);
   font-family: 'Public Sans', sans-serif;
    
}


.about h2{
    padding-bottom: 10px;
}


.features{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-top: 40px;
    background-color:  hsl(220, 16%, 96%);
 

}

.feature{
   
    height: 200px;
    width: 400px;

}
.feature img{
    height: 45px;
}

.feature p{
    font-weight: 10px;
font-size: smaller;
color:hsl(233, 8%, 62%);
}


.latestart{
    
    padding-top: 40px;
    background-color:  hsl(0, 0%, 98%);
    padding-left: 30px;
   padding-top: 30px;

}

.articles{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-top: 40px;
    text-align: start;
    background-color: hsl(0, 0%, 98%);
    font-size: smaller;
    padding-bottom: 10px;
    
}

.articles p{
    color:hsl(233, 8%, 62%);
}
    
   
.articles img{
    height: 190px;
    width: 240px;
    padding-bottom: 10px;
}

.article{
   background-color: white;
   padding-bottom: 15px;


}
.article h4{
    padding-top: 2px;
    padding-bottom: 2px;
}


.footer{
    background-color: hsl(233, 26%, 24%);
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;

}

.icons{
    
    align-items: flex-start;
   gap: 20px;

}

.social{
    
 
    gap: 20px;
}


button{
    border-radius: 20px;
    width: 120px;
    background: linear-gradient(93deg,#00ffcf 0%, #95ec95 80%);
    padding: 5px 8px;
}




